<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= node['title'] %></title>
</head>
<body>
<h1><%= node['title'] %> サンプルページ</h1>
<p>Sa-DevOps Cookbook 動作確認用 サンプル Webサイト</p>
</body>
</html>
